/*
TITLE: Getting Started 
AUTHOR: Macayla C. Davis (MCD)
CREATE DATE: 15 January 2024
PURPOSE: To publish first web page for N341
LAST MODIFIED ON: 15 January 2024
LAST MODIFIED BY: Macayla C. Davis (MCD)
MODIFICATION HISTORY:
No modifications 
*/


#userName {
    font-size: 25px;


}


#userOrgin { 
    font-size:20px

}