/*
TITLE: Course Project - Final Submission 
AUTHOR: Macayla C. Davis (MCD)
CREATE DATE: 27 April 2024
PURPOSE: To publish a web page that meets the requirements of the final and showcases the skills I've gained in the course.The JavaScript selections and event registrations from the Midterm Submission should be converted to jQuery. 
Theme: Menu & order form for a sushi restaurant.  
LAST MODIFIED ON: 27 April 2024
LAST MODIFIED BY: Macayla C. Davis (MCD)
MODIFICATION HISTORY:
No modifications 
*/
body {
    background-color: beige;
}

#pageTitle {
    font-size: 36px; /* Changes size of font */
    color: darkred; /* Dark red color */
    font-weight: bold; /* Make the font bold */
    text-align: center; /* center text */
}

#welcome { 
    text-align: center;
}

#menuTitle{
    font-size: 20px;
    font-weight: bold;

}
#specialTitle{
    font-size: 20px;
    font-weight: bold;
    color:darkred;
}
.newClass {
    color: royalblue;
    font-weight: bold;
}
.red-text {
    color: red;
}